td, th {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

#divPrincipal {
    left: 24% !important;
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#divSegundaria{
    left: 66% !important;
    position: absolute !important;
    top: 43% !important;
    transform: translate(-50%, -50%) !important;
    height: 580px !important;
    overflow-y: auto !important;
}



#divTerciaria{
    left: 66% !important;
    position: absolute !important;
    top: 83.6% !important;
    transform: translate(-50%, -50%) !important;
    height: 100px !important;

}

#botaoAtualizar{
    margin-top: 5px;
}

#tabelaPratos{
    border-radius: 10px !important;
}